/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:ital,wght@1,100&display=swap');
/*Astericks wildcard to override default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Raleway";
    color: #000000;
    font-size: 25px;
    text-align: center;
}

body {
    font-family: 'Times New Roman', Times, serif;
    flex:  1 0 ;
    font-size: small;
}

/*Header*/

header {
    position: relative;
    background-color: #ff7a7a;
    width: 100%;
    box-shadow: 0px 5px 5px #000000;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo {
    color: #fc2f2f;
    background-color: #ffffff;
}

#one {
    background: url("../images/old-trafford.jpg") no-repeat center center/cover;
    position: relative;
    height: 600px;
    width: 100%;
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 30px;
    padding-left: 5px;
    position: absolute;
    width: 300px;
    height: 150px;
    font-size: 15px;
}

main {
    margin-top: 5px;
}

/*Navigation System*/

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: none;
    display: none;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    display: none;
}


nav {
    width: fit-content;
    display: none;
    position: relative;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: center;
}

.nav-toggle:checked~nav {
    display: block;
}

nav a:hover {
    color: #000;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #ffffff;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

/*Footer*/

#links {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#links i {
    font-size: 150%;
    padding: 10%;
    color: #3a3a3a;
}

/*Contact Form*/

.join-button {
    background-color: orange;
    border-radius: 4px;
    height: 30px;
    width: 70px;
}



#question-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

#question {
    width: 75%;
}

#full_name {
    width: 31.4%;
}

#email_address {
    width: 30%;
}

/*Contact Pictures*/

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex: 1;
    padding: 1em;
}

#photos {
    line-height: 0;
    column-count: 2;

    padding: 10px;

}

#pictures img {

    line-height: 1em;
}

/*History Page*/

#history-section {
    background: url("../images/trophies.jpg") no-repeat center/cover;
    height: 720px;
}

#history-text {
    background: rgba(255, 255, 255, 0.6);
    height: 720px;
}

#history-text>h2 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    padding-top: 8vh;
}

#history-text>p {
    font-size: large;
    text-align: center;
    list-style-type: decimal;
    line-height: 32px;
}

/*Phone size of maximum 320px*/

@media screen and (max-width:320px) {
    #history-text>h3 {
        font-size: medium;
        text-align: center;
    }

    #history-text>h2 {
        font-size: 30px;
        text-align: center;
        text-decoration-line: underline;

    }

    #photos {
        width: 100%;
        column-count: 1;
        padding: 0;
        margin-right: 100%;
    }

}

@media screen and (max-width:1450) {}