/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:ital,wght@1,100&display=swap');
/*Astericks wildcard to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family:"Raleway";
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: #3a3a3a;
    font-size: small;
}
header{
    background-color: white;
}
